.asideBox {
    background-color: chocolate;
    padding: 24px;
}

.nav {
    grid-area: nav;
    margin-bottom: 32px;
}

.link {
    color: azure;
    text-decoration: none;
}

.active {
    color: limegreen;
}