.dialogs {
}

.title {
    margin-left: 32px;
}

.wrapper {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsList {
    list-style: none;
}

.dialogsItem {
    padding: 8px;
}

.messagesList {
    list-style: none;
    margin: 0;
    padding: 4px;
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*gap: 16px;*/
    /*flex-wrap: wrap;*/
}

.messagesItem {
    padding: 8px;
}